/* base styles */

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: oxygen;
}

/********** Large Devices Only **********/

@media (min-width: 1200px) {
}

/********** Medium Devices Only **********/

@media (min-width: 992px) and (max-width: 1199px) {
}

